{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey }}</div>
        {% endif %}

        <form action="{{ path('app_security_login') }}" method="post">
            <div class="form-group">
                <label for="username">Email :</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class="form-group">
                <label for="password">Password :</label>
                <input class="form-control" type="password" id="password" name="_password" />
            </div>

            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
