{%  extends 'layout.html.twig' %}
{%  block content %}
    <div id="container">
        <section class="container">
            <article>
                {{ form_start(cakeCreationForm) }}

                    {% if not cakeCreationForm.vars.valid %}
                        <div class="alert-error">
                            {{ form_errors(cakeCreationForm) }}
                        </div>
                    {% endif %}

                <div class="form-group">
                    {{ form_row(cakeCreationForm.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(cakeCreationForm.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(cakeCreationForm.price) }}
                    {{ form_errors(cakeCreationForm.price) }}
                    <div class="input-group">
                        {{ form_widget(cakeCreationForm.price) }}
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(cakeCreationForm.image) }}
                </div>

                <div class="form-group">
                    {{ form_row(cakeCreationForm.categories) }}
                </div>

                <input type="submit" value="create" class="btn btn-primary"/>
                {{ form_end(cakeCreationForm) }}
            </article>
        </section>
    </div>
{% endblock %}