{%  extends 'layout.html.twig' %}
{%  block content %}
{% set url='http://#' %}
<section class="container">
        <h3>Cakes list</h3>
        <div class="row">
                {% for cake in cakeList %}
                        <div class="col-sm-3">
                                <a href="{{ path(is_granted('EDIT_CAKE', cake) ? 'app_cake_edit' : 'app_cake_show', {'id' : cake.id}) }}">
                                        <article class="card">
                                                <img class="card-img-top" src="{{ cake.image }}" alt="{{ cake.name }}" style="height:300px">
                                                <div class="card-body">
                                                        <p class="card-text">{{ cake.name }}</p>
                                                        <p class="card-text">{{ cake.price }} €</p>
                                                        <p class="card-text">{{ cake.author.username }}</p>
                                                </div>
                                        </article>
                                </a>
                        </div>
                {% endfor %}
        </div>
</section>
{% endblock %}