{%  extends 'layout.html.twig' %}
{%  block content %}
    <section class="container">
            <h3>{{ cake.name }}</h3>
            <div class="row">
                {{ cake.description  }}
            </div>
            <div class="row">
                <img src="{{ cake.image }}"/>
            </div>
            <div class="row">
                {{ cake.price }}
            </div>
            <div>
                Category
                <ul>
                    {% for category in cake.categories %}
                        <li>{{ category.name }}</li>
                    {% else  %}
                        <span>no category</span>
                    {% endfor %}
                </ul>
            </div>
    </section>
{% endblock %}

